{% extends "base.html" %}

{% block title %}Documentos{% endblock %}

{% block content %}

{% load static %}

    <section class="row-cabecera">
        {% include "navbar.html" %} 
    </section>

    <main class="cuerpo-contenido">       
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="image-container">
                    <img src="{% static 'images/logo_rama_judicial.png' %}" class="card-img-top" alt="Logo Rama Judicial">
                </div>
                <div class="text-center mt-3 mt-sm-3">
                    
                    <h1>Documentos</h1>

                    <section class="d-flex row justify-content-center btn-group">
                        
                        <div class="col-12 col-sm-6 col-xl-3">
                            <a href="/documentos/subir">
                                <button type="button" class="btn-outline-local">
                                    Subir información
                                </button>
                            </a>
                        </div>

                        <div class="col-12 col-sm-6 col-xl-3">
                            <a href="/documentos/subir/entidades">
                                <button type="button" class="btn-outline-local">
                                    Subir información entidades
                                </button>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <a href="/documentos/listar/plantillas">
                                <button type="button" class="btn-outline-local">
                                    Descargar Plantillas 
                                </button>
                            </a>
                        </div>
                        <div class="col-12 col-sm-6 col-xl-3">
                            <a href="/reportes/">
                                <button type="button" class="btn-outline-local">
                                    Generar Informes  
                                </button>
                            </a>
                        </div>

                    </section>
                </div>
                
            </div>
        </div>
    </main>

{% endblock %}