{% extends "base.html" %}

{% block title %}Reportes{% endblock %}

{% block content %}

{% load static %}

    <section class="row-cabecera">
        {% include "navbar.html" %} 
    </section>

    <main class="cuerpo-contenido">          
        <h1> Generar Reporte</h1>

        {% if show_alert %}
            <div class="alert alert-{{ alert_type }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}     
        
        <form  method="post" action="{% url 'descargar' %}">
            {% csrf_token %}

            <section class="d-flex row">
                <div class="col-6">
                    <label for="selectYear">Año:</label>
                    <select class="form-select" id="selectYear" name="selectYear"></select>
                </div>

                <div class="col-6">
                    <label for="selectMonth">Mes:</label>
                    <select class="form-select" id="selectMonth" name="selectMonth">
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Marzo</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                </div>

            </section>
            
            <section class="d-flex row justify-content-center btn-group mt-4">
                <div class="col-12 col-sm-6 col-xl-3 boton-centrado">
                    <button type="submit" class="btn-outline-local" name="btn_resumen_planilla">
                        Reporte Planilla
                    </button>                    
                </div>
                <div class="col-12 col-sm-6 col-xl-3 boton-centrado">
                    <button type="submit" class="btn-outline-local" name="btn_resumen_patronales">
                        Reporte Patronales
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-xl-3 boton-centrado">
                    <button type="submit" class="btn-outline-local" name="btn_resumen_deducciones">
                        Reporte Deducciones
                    </button>
                </div>
                <div class="col-12 col-sm-6 col-xl-3 boton-centrado">
                    <button type="submit" class="btn-outline-local" name="btn_consolidado">
                        Reporte Consolidado
                    </button>
                </div>                                                                          

            </section>
        </form>
    </main>

    <script>
        // Get references to the select elements
        const selectYear = document.getElementById('selectYear');
        const selectMonth = document.getElementById('selectMonth');

        // Get the current year and month
        const currentYear = new Date().getFullYear();
        const currentMonth = String(new Date().getMonth() + 1).padStart(2, '0'); // Format month as 'MM'

        // Populate the year select with the last 10 years
        for (let i = currentYear; i >= currentYear - 10; i--) {
            const option = document.createElement('option');
            option.value = i;
            option.textContent = i;
            selectYear.appendChild(option);
        }

        // Set the current year as the default value
        selectYear.value = currentYear;

        // Select the current month in the month select
        selectMonth.value = currentMonth;

        // Listen for change events on the year select
        selectYear.addEventListener('change', updateSelectedDate);

        // Listen for change events on the month select
        selectMonth.addEventListener('change', updateSelectedDate);

        // Function to update the selected date
        function updateSelectedDate() {
            const selectedYear = selectYear.value;
            const selectedMonth = selectMonth.value;
        }

        // Initialize the selected date when the page loads
        updateSelectedDate();
    </script>

{% endblock %}