:root {
    --primary: #359946;
    --header-branding-color: white;
    --accent:white;
}

body , a {
    font-family: 'Montserrat', sans-serif;
}

#header {
    background-color: var(--primary);
}

#branding h1 {
    font-weight: bolder;
}
