{% extends "base.html" %}

{% block title %}Lista plantillas{% endblock %}

{% block content %}

{% include "navbar.html" %}



<div class="container my-5">
    <h1>Listar las plantillas de los documentos</h1>
    
    <p>Plantilla de patronales temporales</p>
    <a href="/media/plantillas/Plantilla_patronales_temporales.xlsx" download>Descargar plantilla de carta</a>
    
    <p>Plantilla de patronales permanentes</p>
    <a href="/media/plantillas/Plantilla_patronales_temporales.xlsx" download>Descargar plantilla de carta</a>
</div>

{% endblock %}