{% extends "base.html" %}

{% block title %}Subir Datos entidades{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container my-5">
    <h1>Datos entidades</h1>

    {% if messages %}
        {% for message in messages %}            
            <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong> 
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}        
       
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my-4">
            <label for="formFile" class="form-label">Seleccione Archivo</label>
            <input class="form-control" type="file" name="formFile" id="formFile">
        </div>

        <section class="d-flex row justify-content-center btn-group mt-3">
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <button type="submit" class="btn-outline-local">
                    Cargar Información
                </button>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="/media/datos_entidades.xlsx" download>
                    <button type="button" class="btn-outline-local">
                        Descargar Información 
                    </button>
                </a>
            </div>
            <div class="col-12 col-md-6 col-lg-4 d-flex justify-content-center">
                <a href="/documentos/listar/entidades">
                    <button type="button" class="btn-outline-local">
                        Listar Entidades
                    </button>
                </a>
            </div>
        </section>

    </form>

</div>
{% endblock %}