{% extends "base.html" %}

{% block title %}Datos entidades{% endblock %}

{% block content %}

{% load static %}

{% include "navbar.html" %} 

<div class="container mt-5">
    <h1>Datos entidades</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3">
            <label for="formFile" class="form-label">Seleccione Archivo</label>
            <input class="form-control" type="file" name="formFile" id="formFile">
        </div>

        <button type="submit" class="btn btn-primary">Cargar</button>
        <button class="btn btn-outline-primary">
            <a href="/media/datos entidades.xlsx" download>
                Descargar información actual
            </a>
        </button>
    </form>

</div>
{% endblock %}