{% extends "base.html" %}

{% block title %}Subir Datos entidades{% endblock %}

{% block content %}

{% include "navbar.html" %}

<div class="container my-5">
    <h1>Datos entidades</h1>

    {% if show_alert %}
        <div class="alert alert-{{ alert_type }}" role="alert">
            {{ message }}
        </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="my-4">
            <label for="formFile" class="form-label">Seleccione Archivo</label>
            <input class="form-control" type="file" name="formFile" id="formFile">
        </div>

        <section class="d-flex justify-content-center">
            <button type="submit" class="btn-outline-local">
                Cargar Información
            </button>
            <a href="/media/datos_entidades.xlsx" download>
                <button type="button" class="btn-outline-local">
                    Descargar Información Actual
                </button>
            </a>
            <a href="/documentos/listar/entidades">
                <button type="button" class="btn-outline-local">
                    Listar Entidades
                </button>
            </a>
        </section>

    </form>

</div>
{% endblock %}